openapi: 3.0.0
info:
  title: TheMealDB Categories.php List.php API
  description: An open, crowd-sourced database of meals and recipes from around the world
  version: 1.0.0
  contact:
    url: https://www.themealdb.com
servers:
- url: https://www.themealdb.com/api/json/v1/{apiKey}
  variables:
    apiKey:
      default: '1'
      description: API key - use '1' for testing/development. Premium supporters use their personal key.
tags:
- name: List.php
paths:
  /list.php:
    get:
      summary: List categories, areas, or ingredients
      description: Return a flat list of all available categories, cuisine areas, or ingredients. Provide exactly one query parameter.
      operationId: listOptions
      parameters:
      - name: c
        in: query
        description: List all meal categories (value must be 'list')
        schema:
          type: string
          enum:
          - list
      - name: a
        in: query
        description: List all cuisine areas (value must be 'list')
        schema:
          type: string
          enum:
          - list
      - name: i
        in: query
        description: List all ingredients (value must be 'list')
        schema:
          type: string
          enum:
          - list
      responses:
        '200':
          description: Successful response with list of category, area, or ingredient names
          content:
            application/json:
              schema:
                type: object
                properties:
                  meals:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: string
      tags:
      - List.php
